.truncate {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    /* Align the text horizontally */
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table th,
.table td {
    text-align: center;
    /* Horizontally center the content */
    vertical-align: middle;
    /* Vertically center the content */
    word-wrap: break-word;
}

.btn,
.badge {
    font-size: 0.9rem;
}