html, body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Disable global scrolling */
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #cac5d35d;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

/* Make sure the container or certificate list scrolls */
.container {
    padding-top: 60px;
    max-height: 100vh; /* Make the container fill the height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.certificate-list {
    max-height: 80vh; /* Restrict the list to a certain height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    font-size: 26px;
}

.certificate-list li a {
    font-size: 18px;
}

.certificate-list li p {
    font-size: 14px;
    margin-top: 2px;
}
