body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card video {
    border-radius: 10px;
}

.text-primary {
    color: #9370DB !important;
}

h1 {
    color: #9370DB; /* Same primary color */
    font-size: 2.5rem; /* Adjust size for visibility */
    font-weight: bold;
    text-align: center;
    margin-top: 700px;
}
