html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.title-section {
    text-align: center;
    margin-top: 60px;
    padding: 2rem 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #6b46c1;
}

.courses-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #b19cd93d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 2rem auto;
    max-width: 80%;
}

.course-card {
    display: flex;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    position: relative;
    cursor: not-allowed;
    transition: transform 0.3s ease, box-shadow 0.3s ease, cursor 0.3s ease;
}

.course-card.enrolled {
    cursor: pointer; /* Make the card clickable for enrolled users */
}

.course-card:hover {
    transform: translateY(-5px); /* Slightly moves the card upwards */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhances the shadow */
}

.course-image img {
    width: 200px;
    height: auto;
    border-radius: 0.5rem;
}

.course-description {
    flex: 1;
}

.course-description h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.course-description p {
    margin: 0.5rem 0;
    color: #555;
}

.course-date {
    font-size: 0.9rem;
    color: #a0aec0;
}

/* Buttons for Enroll and Unenroll */
.button.enroll {
    background-color: #B19CD9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.unenroll {
    background-color: #C96A6A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button.unenroll:hover {
    background-color: red; /* Changes to red on hover */
    transform: scale(1.05); /* Slightly enlarges the button */
}

.button:hover {
    opacity: 0.9; /* Adds a hover effect for all buttons */
}
