body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(177, 156, 217, 0.7), rgba(201, 106, 106, 0.7));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 40px;
}

.logo-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin-left: 25px;
}

.logo-container {
    display: flex;
    gap: 20px;
    margin-bottom: 0px;
}

.logo {
    width: 140px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); /* Drop shadow for logos */
}

.heading {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 70px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

.login-box {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); /* Enhanced shadow for depth */
    max-width: 410px;
    width: 100%;
    height: 540px;
    margin-right: 80px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.error-message-container {
    min-height: 20px; /* Reserve space for the error message */
    text-align: center;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 330px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: #999;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.form-input:focus {
    box-shadow: 0 0 0 1px rgba(167, 139, 250, 0.2);
    outline: none;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
}

.forgot-password {
    font-size: 12px;
    color: #a78bfa;
    text-decoration: none;
    margin-right: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 100%;
    max-width: 330px;
    background-color: #a78bfa;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #B19CD9;
}

.signup-text {
    text-align: center;
    margin-top: 150px;
    font-size: 14px;
    color: #666;
}

.signup-link {
    color: #a78bfa;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
